
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <title>Home</title>
</head>


<body>
  
  <nav class="navbar navbar-expand-lg navbar-light color">
      <img class="img" style ="height: 3%; width: 3%;" routerLink="/" src="../../assets/red_logo.png">
      <a class="navbar-brand" href="">M-Report</a>
      
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          
        </ul>
        <div class="d-flex align-items-end flex-column">
        <ul class="navbar-nav my-2 my-lg-0 ">
          <li class="nav-item active">
            <button mat-button routerLink="/">Home </button>
          </li>
          <li class="nav-item">
            <button mat-button routerLink="/about">About</button>
          </li>
          <li>
            <!-- <a class="nav-link" routerLink="/login">Login</a> -->
            <button mat-button routerLink="/login">Login</button>
          </li>
          <li>
            <button mat-button [matMenuTriggerFor]="menu">Sign Up</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/reg-patient">Patient</button>
              <button mat-menu-item routerLink="/reg-dotor">Doctor</button>
              <button mat-menu-item routerLink="/reg-hospital">Hospital</button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  
  <div class="login-container">
      <form [formGroup]="this.newHospitalFormGroup" (ngSubmit)="registerHospital()" class="reg-form text-center" >
          <img class="logo" src="../../assets//red_logo.png" alt="Avatar" style="height: 200px;">
          <h1 class="mb-5 font-weight-light text-uppercase">Register Hospital</h1>
          <div class="row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control rounded-pill form-control-lg" formControlName="hospitalName" placeholder="Hospital Name" required>
            </div>
            <div class="form-group col-md-6">
            <input type="text" class="form-control rounded-pill form-control-lg" formControlName="hosRegNo" placeholder="Hospital Registration Number"required>
            </div>
          </div><br>
          
          <div class="form-group">
            <input type="text" class="form-control rounded-pill form-control-lg" formControlName="address" placeholder="Address" required>
          </div> 
          <div class="form-group">
              <select class="form-control rounded-pill form-control-lg" formControlName="district" placeholder="Choose the District" required>
                <option value="Colombo" selected>Colombo</option>
                <option value="Gampaha">Gampaha</option>
                <option value="Kaluthara">Kaluthara</option>
                <option value="Kandy">Kandy</option>
                <option value="Matale">Matale</option>
                <option value="Nuwara-Eliya">Nuwara-Eliya</option>
                <option value="Galle">Galle</option>
                <option value="Matara">Matara</option>
                <option value="Hambanthota">Hambanthota</option>
                <option value="Jaffna">Jaffna</option>
                <option value="Mannar">Mannar</option>
                <option value="Vauniya">Vauniya</option>
                <option value="Mulathivu">Mulathivu</option>
                <option value="Kilinochchi">Kilinochchi</option>
                <option value="Batticaloa">Batticaloa</option>
                <option value="Ampara">Ampara</option>
                <option value="Trincomalee">Trincomalee</option>
                <option value="Kurunagala">Kurunagala</option>
                <option value="Puttalam">Puttalam</option>
                <option value="Anuradhapura">Anuradhapura</option>
                <option value="Polonnaruwa">Polonnaruwa</option>
                <option value="Badulla">Badulla</option>
                <option value="Monaragala">Monaragala</option>
                <option value="Rathnapura">Rathnapura</option>
                <option value="Kegalle">Kegalle</option>
            </select>
          </div>
         <div class="row">  
          <div class="form-group col-md-6">
            <input type="email" class="form-control rounded-pill form-control-lg" formControlName="email" placeholder="Email" required>
          </div>
          <div class="form-group col-md-6">
              <input type="text" class="form-control rounded-pill form-control-lg" formControlName="telephone" placeholder="Telephone" required>
            </div>
         </div>
          <div class="row">
            <div class="form-group col-md-6">
              <input type="password" class="form-control rounded-pill form-control-lg" formControlName="password" placeholder="Password" required>
            </div>
            <div class="form-group col-md-6">
              <input type="password" class="form-control rounded-pill form-control-lg" placeholder="Confirm-Password" required>
            </div>
          </div>
          <div class="form-group">
              <input type="text" class="form-control rounded-pill form-control-lg" formControlName="ownerName" placeholder="Owner's Name" required>
          </div>
         <div class="row">
            <div class="form-group col-md-6">
             <input type="tel" class="form-control rounded-pill form-control-lg" formControlName="ownerMobile" placeholder="Owner's Mobile" required>
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control rounded-pill form-control-lg" formControlName="ownerNIC" placeholder="Owner's NIC" required>
           </div>
        </div>
        
          <button type="submit" class="btn mt-5 rounded-pill btn-lg btn-custom btn-block text-uppercase">Register</button>
          
      </form>
  </div>

     


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>


  
  
</body>


