<html lang="en">
    <title>Doctor_Patient</title>

    <body style="margin: 0%;">
        
        <div class="row docpage">
            <div class="col-md-2 docsidebar">
                <app-doctorsidenav></app-doctorsidenav>
            </div>

            <div class="col-md-10">
                <!-- heading -->
                <h1 class = "text-uppercase font-weight-bold"><u>Doctor-vaccine</u></h1>

                <!-- content -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Vaacine 1</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Vaccine 2</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
        </div>

    </body>
</html>
