<!-- Main Sidebar Container -->
<aside style="background-color: rgb(4, 49, 4);">
    <!-- Brand Logo -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="brand-image" style="text-align: center;">

            <img src="./dashboard/red_logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"    id="logo">
        
        </div>
        <div class="user-panel mt-3 pb-3 mb-3" style="text-align: center;">
            <a class="brand-image ">
                <img src="./dashboard/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8" >
                <span class="brand-text font-weight-light" id="adlogo">Admin</span>
            </a>
        </div>
        
        <style>
            #logo
            {
                height: 100px;
                width: 100px;
            }
            #adlogo
            {
                font-size: 25px;
                font-style: italic;
            }
    
        </style>
    
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" 
                role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview menu-open">
                    <a href="" class="nav-link">
                        <p>Dashboard</p>
                    </a>
                </li>
            
                <li class="nav-item">
                    <a href="registerpatient.html" class="nav-link">
                        <p>Register Patient</p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="viewpatient.html" class="nav-link">
                        <p>View Patient Details</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="scheduleappointments.html" class="nav-link">
                        <p>Schedule Appointments</p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="registerdoctor.html" class="nav-link">
                        <p>Register Doctor</p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="doctorprofile.html" class="nav-link"><i class="nav-icon fas fa-edit"></i>
                        <p>View Doctor Profile</p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="patientaddmi.html" class="nav-link">
                        <p>Patient Admission</p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="reports.html" class="nav-link">
                        <p>Reports</p>
                    </a>
                </li>

                <li class="nav-header">EXAMPLES</li>

                <li class="nav-item">
                    <a href="" class="nav-link">
                        <p>Calendar</p>
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</aside>
