<!-- Main Sidebar Container -->
<div class="Container">

    
    <div style="background-color: rgb(4, 49, 4);">

        <br>

        <div class="user-panel mt-3 pb-3 mb-3" style="text-align: center;">
            <img src="assets/red_logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             id="logo">
            <!-- <a class="brand-image ">
                <img style ="height: 20%; width: 20%;" src="../../assets/AdminLTELogo.png"  >
                <span class="brand-text font-weight-light" id="adlogo">Admin</span>
            </a> -->
        </div>

        <hr>

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" 
                data-widget="treeview" role="menu" data-accordion="false">

            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->

                <li class="nav-item">
                    <a routerLink="/dd" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Doctor Dashboard
                    </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/dv" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Doctor Vaccine
                    </p>
                    </a>
                </li>
            
                <li class="nav-item">
                    <a routerLink="/da" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Doctor Apointments
                    </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/dp" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Doctor Patient
                    </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a routerLink="/daddp" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Add My Patient
                    </p>
                    </a>
                </li>
                
            </ul>
        </nav>
    </div>
</div>
